@model ExpensesManagment.Web.Models.TripExpenseViewModel

@{
    ViewData["Title"] = "Trip Expenses Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<div>
    <h4>Trip Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    User
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Trip.CityVisited)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trip.CityVisited)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Trip.StartDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trip.StartDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Trip.EndDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trip.EndDateLocal)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expenses</h3>
            </div>
            <div class="panel panel-body">
                <table class="table table-hover table-responsive table-striped" id="ExpensesTable">
                    <thead>
                        <tr>
                            <th>
                                Logo
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Cost
                            </th>
                            <th>
                                Photo
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Expenses)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ExpenseType.LogoPath))
                                    {
                                        <img src="@Url.Content(item.ExpenseType.LogoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpenseType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.PicturePath))
                                    {
                                        <img src="@Url.Content(item.PicturePath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <a asp-action="EditExpense" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a asp-action="DetailsExpense" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ExpensesTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Trip/DeleteExpense/' + item_to_delete;
            });
        });
    </script>
}
